@use '../mixins/mixins.scss' as m;

body {
    #main {
        .card-about-me {
            @include m.sizing(100%, 100%);
            grid-column: 4 / 6;
            grid-row: 1 / 3;

            .about-me {
                @include m.sizing(100%, 100%);
                background-color: #051A4C;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h1 {
                    display: none;
                }

                .icon-about {
                    width: 21rem;
                    height: 21rem;
                    transition: transform 0.5s ease-in-out;
                }

                /* h1 {
                    color: #FF9B2F;
                } */
            }

            &:hover .icon-about {
                transform: scale(1.2);
            }
        }

        .reverse-about-me {
            @include m.sizing(100%, 100%);
            /* background-color: #9e9e9e; */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: 0.5rem #051A4C solid;
            box-sizing: border-box;
            flex-direction: row;
            background-color: white;
            //gap: 5rem;

            h1 {
                color: #051A4C;
                margin: 0.5rem;
                font-size: 2.5rem;
            }

            .content-about {
                @include m.sizing(40%, 100%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .text-about {

                    p {
                        color: #051A4C;
                        font-size: 0.9rem;
                        line-height: 1.6rem;
                        text-align: justify;
                        font-weight: 500;
                        margin-top: 0.5rem;
                        padding: 0rem 1.5rem;
                    }
                }
            }

            .photo-about {
                @include m.sizing(45%, 85%);
                //transform: translate(-50%, -50%);
                transform-style: preserve-3d;
                perspective: 3000px;
                /* transition: .5s; */
                /* pointer-events: none; */

                /* .active2 .card-front {
                    transform: rotateY(-180deg);
                    pointer-events: all;
                } */

                /* .active2 {
                    transform: rotateY(0deg);
                } */

                &:hover .card-front {
                    transform: rotateY(-180deg);
                }

                &:hover .card-back {
                    transform: rotateY(0deg);
                }


                .card-front {
                    @include m.sizing(100%, 100%);
                    background-image: url(../../../img/javftv3.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-color: #051A4C;
                    box-shadow: 0rem 0rem 0rem 0.25rem #051A4C;
                    border-radius: 0.2rem;
                    backface-visibility: hidden;
                    transform: rotateY(0deg);
                    transition: 1s;
                    position: absolute;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;

                    .acces-photo {
                        .text-one {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            /* flex-direction: column; */
                            background-color: rgba(5, 26, 76, 1);
                            padding: 0.2rem 0.5rem 0.1rem 0.5rem;
                            border-radius: 0.3rem;
                            margin: 0.5rem 0.5rem 0rem 0rem;

                            svg {
                                margin-right: 0.5rem;
                                font-size: 2rem;
                            }
                        }
                    }
                }

                .card-back {
                    @include m.sizing(100%, 100%);
                    background-image: url(../../../img/javftv4.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-color: #051A4C;
                    box-shadow: 0rem 0rem 0rem 0.25rem #051A4C;
                    border-radius: 0.2rem;
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    transition: 1s;
                    position: absolute;

                    .acces-photo2 {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .text-two {
                            display: flex;
                            align-items: center;
                            /* flex-direction: column; */
                            background-color: rgba(5, 26, 76, 1);
                            padding: 0.4rem 0.5rem 0.2rem 0.4rem;
                            margin: 0.5rem 0.5rem 0rem 0rem;
                            border-radius: 0.3rem;

                            svg {
                                margin-right: 0.3rem;
                                /* margin: 0rem 0.3rem 0rem 0.5rem; */
                                font-size: 1.7rem;
                            }
                        }
                    }
                }

                /* img {
                    @include m.sizing(100%, 85%);
                    background-color: #051A4C;
                    box-shadow: 0rem 0rem 0rem 0.25rem #051A4C;
                    border-radius: 0.2rem;
                } */
            }

            .video-hobbies {
                @include m.sizing(30%, 100%);
                display: flex;
                justify-content: center;
                align-items: center;

                video {
                    width: 100%;
                    border: 0.25rem solid #051A4C;
                    border-radius: 0.4rem;
                }
            }

            @keyframes changePhoto {
                0% {
                    margin-left: 0;
                }

                25% {
                    margin-left: 0;
                }

                75% {
                    margin-left: -50%;
                }

                100% {
                    margin-left: -50%;
                }
            }
        }

        /* .active {
            .reverse-about-me {
                .photo-about {
                    pointer-events: auto;
                }
            }
        } */
    }
}