@use '../mixins/mixins.scss' as m;

body {
    #main {
        .card-about-me {
            @include m.sizing(100%, 100%);
            grid-column: 3 / 5;
            grid-row: 1 / 3;

            .about-me {
                @include m.sizing(100%, 100%);
                @include m.flexWithDirection(flex, center, center, column);
                background-color: #051A4C;

                .icon-about {
                    @include m.sizing(19rem, 19rem);
                    transition: transform 0.5s ease-in-out;
                }

                .title-about {
                    margin: 0.5rem 0rem 0rem 0rem;
                    font-size: 1.9rem;
                    transition: transform 0.5s ease-in-out;
                }
            }

            &:hover .icon-about {
                transform: scale(1.1);
            }

            &:hover .title-about {
                transform: scale(1.1) translate(0rem, 0.5rem);
            }
        }

        .reverse-about-me {
            @include m.sizing(100%, 100%);
            @include m.flexWithDirection(flex, space-evenly, center, row);
            border: 0.5rem #051A4C solid;
            box-sizing: border-box;
            background-color: white;

            h1 {
                color: #051A4C;
                margin: 0.5rem;
                font-size: 2.5rem;
            }

            .content-about {
                @include m.sizing(40%, 100%);
                @include m.flexWithDirection(flex, center, center, column);

                .text-about {

                    p {
                        color: #051A4C;
                        @include m.fontProps(0.9rem, 1.6rem, center, 500);
                        @include m.spaces(0.5rem 0rem 0rem 0rem, 0rem);
                    }
                }
            }

            .photo-about {
                @include m.sizing(45%, 85%);
                transform-style: preserve-3d;
                perspective: 3000px;

                &:hover .card-front {
                    transform: rotateY(-180deg);
                }

                &:hover .card-back {
                    transform: rotateY(0deg);
                }


                .card-front {
                    @include m.sizing(100%, 100%);
                    @include m.bgImg(url('/javftv3.jpg'), no-repeat, center, cover);
                    @include m.flexWithoutDirection(flex, flex-end, flex-start);
                    background-color: #051A4C;
                    box-shadow: 0rem 0rem 0rem 0.25rem #051A4C;
                    border-radius: 0.2rem;
                    backface-visibility: hidden;
                    transform: rotateY(0deg);
                    transition: 1s;
                    position: absolute;

                    .acces-photo {
                        .text-one {
                            @include m.flexWithoutDirection(flex, center, center);
                            @include m.spaces(0.5rem 0.5rem 0rem 0rem, 0.2rem 0.5rem 0.1rem 0.5rem);
                            background-color: rgba(5, 26, 76, 1);
                            border-radius: 0.3rem;

                            svg {
                                margin: 0rem 0.5rem 0rem 0rem;
                                font-size: 2rem;
                            }
                        }
                    }
                }

                .card-back {
                    @include m.sizing(100%, 100%);
                    @include m.bgImg(url('/javftv4.jpg'), no-repeat, center, cover);
                    background-color: #051A4C;
                    box-shadow: 0rem 0rem 0rem 0.25rem #051A4C;
                    border-radius: 0.2rem;
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    transition: 1s;
                    position: absolute;

                    .acces-photo2 {
                        @include m.flexWithoutDirection(flex, flex-end, center);

                        .text-two {
                            @include m.flexWithoutDirection(flex, none, center);
                            @include m.spaces(0.5rem 0.5rem 0rem 0rem, 0.4rem 0.5rem 0.2rem 0.4rem);
                            background-color: rgba(5, 26, 76, 1);
                            border-radius: 0.3rem;

                            svg {
                                margin: 0rem 0.3rem 0rem 0rem;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }

            .video-hobbies {
                @include m.sizing(30%, 100%);
                @include m.flexWithoutDirection(flex, center, center);

                video {
                    width: 100%;
                    border: 0.25rem solid #051A4C;
                    border-radius: 0.4rem;
                }
            }

            @keyframes changePhoto {
                0% {
                    margin-left: 0;
                }

                25% {
                    margin-left: 0;
                }

                75% {
                    margin-left: -50%;
                }

                100% {
                    margin-left: -50%;
                }
            }
        }
    }
}