@use '../mixins/mixins.scss' as m;

.flip {
    position: relative;
    cursor: pointer;

    .front,
    .back {
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: 1s;
        transition-property: transform, opacity;
        color: white;
        border-radius: 0.4rem;
    }

    .back {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        @include m.sizing(100%, 100%);
    }
}

.active {
    .front {
        transform: rotateY(180deg);
    }

    .back {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.flip-vertical {
    .back {
        transform: rotateX(-180deg);
    }
}

.flip-horizontal {
    .back {
        transform: rotateY(-180deg);
    }
}

.active {
    .front {
        transform: rotateX(180deg);
    }

    .back {
        transform: rotateX(0deg);
    }
}

.active-horizontal {
    .front {
        transform: rotateX(180deg);
    }

    .back {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.active-horizontal {
    .front {
        transform: rotateY(180deg);
    }

    .back {
        transform: rotateY(0deg);
    }
}