@use '../mixins/mixins.scss' as m;

body {
    #main {
        .card-education {
            @include m.sizing(100%, 100%);
            grid-column: 1 / 3;
            grid-row: 4 / 5;


            .education {
                @include m.flexWithDirection(flex, center, center, column);
                @include m.sizing(100%, 100%);
                background-color: #FF9B2F;

                h1 {
                    display: none;
                }

                .icon-education {
                    @include m.sizing(16rem, 11rem);
                    transition: transform 0.5s ease-in-out;
                }

                .clicking2 {
                    display: none;
                }
            }

            &:hover .icon-education {
                transform: scale(1.2);
            }
        }

        .reverse-education {
            @include m.sizing(100%, 100%);
            @include m.flexWithoutDirection(flex, center, center);
            background-color: white;
            border: 0.5rem #FF9B2F solid;
            box-sizing: border-box;

            .content-education {
                @include m.sizing(70%, 100%);
                @include m.flexWithDirection(flex, space-evenly, none, column);
                margin: 0rem 0rem 0rem 1.5rem;

                h1 {
                    color: #FF9B2F;
                    @include m.fontProps(2.2rem, normal, center, none);
                    margin: 0.7rem 0rem 0rem 0rem;
                }

                p {
                    @include m.flexWithoutDirection(flex, none, center);
                    @include m.fontProps(1.13rem, normal, none, 600);
                    color: #FF9B2F;
                    margin: 0.2rem;
                }

                svg {
                    @include m.sizing(2.5rem, 2.5rem);
                    margin: 0rem 1rem 0rem 0rem;
                }

                p:hover {
                    color: #051A4C;
                }
            }

            .photos-education {
                @include m.sizing(25%, 90%);
                @include m.bgImg(url(./svg/vscPorAndroidStudio.svg), no-repeat, center, 13.5rem);
                margin: 0.5rem 0rem 0rem 0rem;
            }
        }
    }
}