@use '../mixins/mixins.scss' as m;

body {
    #main {
        .card-education {
            @include m.sizing(100%, 100%);
            grid-column: 1 / 3;
            grid-row: 4 / 5;


            .education {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FF9B2F;
                @include m.sizing(100%, 100%);
                flex-direction: column;

                h1 {
                    display: none;
                }

                .icon-education {
                    width: 16rem;
                    height: 11rem;
                    transition: transform 0.5s ease-in-out;
                }
            }

            &:hover .icon-education {
                transform: scale(1.2);
            }
        }

        .reverse-education {
            @include m.sizing(100%, 100%);
            background-color: #9e9e9e;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: 0.5rem #FF9B2F solid;
            box-sizing: border-box;

            .content-education {
                @include m.sizing(70%, 100%);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h1 {
                    color: #FF9B2F;
                    font-size: 2.2rem;
                    margin: 0;
                    margin-top: 0.7rem;
                    text-align: center;
                }

                p {
                    color: #FF9B2F;
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                    margin: 0.2rem;
                    font-weight: 400;
                }

                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-right: 1rem;
                }

                p:hover {
                    color: #051A4C;
                }
            }

            .photos-education {
                @include m.sizing(25%, 90%);
                background-image: url(./svg/vscPorAndroidStudio.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 13rem;
                margin-top: 0.5rem;
            }
        }
    }
}