@use '../mixins/mixins.scss' as m;

body {
    #main {
        .card-hobbies {
            @include m.sizing(100%, 100%);
            grid-column: 1 / 4;
            grid-row: 1 / 2;

            .hobbies {
                @include m.flexWithDirection(flex, center, center, column);
                @include m.sizing(100%, 100%);
                background-color: #FF9B2F;

                h1 {
                    display: none;
                }

                .icon-hobbies {
                    @include m.sizing(15rem, 15rem);
                    transition: transform 0.5s ease-in-out;
                }

                .clicking {
                    width: auto;
                    @include m.flexWithoutDirection(flex, space-evenly, center);
                    position: absolute;
                    left: 1.1rem;
                    top: 1rem;
                    padding: 0.35rem 0.4rem 0.35rem 0.4rem;
                    border-radius: 0.35rem;
                    background-color: white;
                    color: #051A4C;
                    transition: background-color 0.5s ease-in-out;

                    p {
                        margin: 0;
                        font-weight: 600;
                        transition: color 0.5s ease-in-out;
                    }

                    svg {
                        @include m.sizing(2rem, 2rem);
                        color: #051A4C;
                        transition: color 0.5s ease-in-out;
                    }
                }
            }

            &:hover .icon-hobbies {
                transform: scale(1.2);
            }

            &:hover {
                .clicking {
                    background-color: #051A4C;

                    p {
                        color: white;
                    }

                    svg {
                        color: white;
                    }
                }
            }

            .reverse-hobbies {
                @include m.sizing(100%, 100%);
                @include m.flexWithoutDirection(flex, space-evenly, center);
                background-color: white;
                border: 0.5rem #FF9B2F solid;
                box-sizing: border-box;

                .content-hobbies {
                    @include m.sizing(35%, 100%);
                    @include m.flexWithDirection(flex, space-evenly, center, column);
                    box-sizing: border-box;

                    h1 {
                        color: #FF9B2F;
                        margin: 1rem 0rem 0.5rem 0rem;
                    }

                    p {
                        color: #FF9B2F; //#D67813;
                        @include m.fontProps(1rem, 1.7rem, justify, 600);
                        @include m.spaces(0, 0rem 0rem);
                    }

                    .icons-hobbies {
                        width: 100%;
                        @include m.flexWithoutDirection(flex, space-evenly, center);
                        margin: 1rem 0.5rem;

                        svg {
                            @include m.sizing(4rem, 4rem);
                            color: #FF9B2F;
                        }

                        div:hover {

                            svg,
                            p {
                                color: #051A4C;
                            }
                        }

                        .first-icon-skate {
                            .iconify--ic {
                                transition: color linear 2s;
                                animation: skating-out 2s linear;
                            }
                        }

                        .first-icon-skate:hover {
                            .iconify--ic {
                                animation: skating 2s linear infinite;
                                color: #051A4C;
                            }
                        }

                        .second-icon-basket {
                            .iconify--iconoir {
                                transition: color linear 1s;
                                animation: rotating-out 1s linear;
                            }
                        }

                        .second-icon-basket:hover {
                            .iconify--iconoir {
                                animation: rotating 1.5s linear infinite;
                                color: #051A4C;
                            }
                        }

                        .third-icon-music {
                            .iconify--icon-park-solid {
                                transition: color linear 0.5s;
                                animation: biglittle-out 0.5s linear;
                            }
                        }

                        .third-icon-music:hover {
                            .iconify--icon-park-solid {
                                animation: biglittle 1s linear infinite;
                                color: #051A4C;
                            }
                        }

                        .iconify--ic {
                            transition: color linear 2s;
                            animation: skating-out 2s linear;
                        }

                        .iconify--ic:hover {
                            animation: skating 2s linear infinite;
                            color: #051A4C;
                        }

                        .iconify--iconoir {
                            transition: color linear 1s;
                            animation: rotating-out 1s linear;
                        }

                        .iconify--iconoir:hover {
                            animation: rotating 1.5s linear infinite;
                            color: #051A4C;
                        }

                        .iconify--icon-park-solid {
                            transition: color linear 0.5s;
                            animation: biglittle-out 0.5s linear;
                        }

                        .iconify--icon-park-solid:hover {
                            animation: biglittle 1s linear infinite;
                            color: #051A4C;
                        }

                        p {
                            display: none;
                        }
                    }
                }

                @keyframes rotating {
                    0% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    100% {
                        -ms-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }

                @keyframes rotating-out {
                    0% {
                        -ms-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }

                    100% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }

                @keyframes skating {
                    0% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    25% {
                        -ms-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

                    50% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    75% {
                        -ms-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }

                    100% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }

                @keyframes skating-out {
                    0% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    25% {
                        -ms-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

                    50% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    75% {
                        -ms-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }

                    100% {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }

                @keyframes biglittle {
                    0% {
                        -ms-transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                        -o-transform: scale(1);
                        transform: scale(1);
                    }

                    50% {
                        -ms-transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        transform: scale(1.3);
                    }

                    100% {
                        -ms-transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                        -o-transform: scale(1);
                        transform: scale(1);
                    }
                }

                @keyframes biglittle-out {
                    100% {
                        -ms-transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                        -o-transform: scale(1);
                        transform: scale(1);
                    }

                    50% {
                        -ms-transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        transform: scale(1.3);
                    }

                    0% {
                        -ms-transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                        -o-transform: scale(1);
                        transform: scale(1);
                    }
                }

                .video-hobbies {
                    @include m.sizing(auto, 80%);
                    display: flex;
                    position: relative;
                    background-color: #FF9B2F;
                    box-shadow: 0rem 0rem 0rem 0.25rem #FF9B2F;
                    border-radius: 0.2rem;

                    video {
                        width: 100%;
                        border-radius: 0.2rem;
                        @include m.flexWithoutDirection(flex, flex-end, flex-end);
                        transition: transform 0.6s ease-in-out;
                    }

                    .title-skate {
                        position: absolute;
                        @include m.sizing(100%, 100%);
                        @include m.flexWithoutDirection(flex, center, flex-end);

                        .text-skate {
                            color: white;
                            margin: 0.5rem;
                            transition: transform 0.6s ease-in-out;
                        }

                    }
                }

                .video-hobbies:hover {
                    background-color: #6f4100;
                    box-shadow: 0rem 0rem 0rem 0.25rem #6f4100;

                    video {
                        box-shadow: 0rem #FF9B2F;
                        transform: scale(0.92, 0.85) translate(0rem, -1rem);
                    }

                    .title-skate {
                        .text-skate {
                            transform: scale(0.8, 0.8) translate(0rem, 0.914rem);
                        }
                    }
                }

                .video-hobbies2 {
                    @include m.sizing(auto, 80%);
                    display: flex;
                    position: relative;
                    background-color: #FF9B2F;
                    box-shadow: 0rem 0rem 0rem 0.25rem #FF9B2F;
                    border-radius: 0.2rem;

                    video {
                        width: 100%;
                        border-radius: 0.2rem;
                        transition: transform 0.5s ease-in-out;
                    }

                    video:hover {
                        transform: scale(0.8);
                    }

                    .title-basket {
                        position: absolute;
                        @include m.sizing(100%, 100%);
                        @include m.flexWithoutDirection(flex, center, flex-end);

                        .text-basket {
                            color: white;
                            margin: 0.5rem;
                            transition: transform 0.5s ease-in-out;
                        }
                    }
                }

                .video-hobbies2:hover {

                    background-color: #051A4C;
                    box-shadow: 0rem 0rem 0rem 0.25rem #051A4C;

                    video {
                        box-shadow: 0rem #FF9B2F;
                        transform: scale(0.92, 0.85) translate(0rem, -1rem);
                    }

                    .title-basket {
                        .text-basket {
                            transform: scale(0.8, 0.8) translate(0rem, 0.914rem);
                        }
                    }
                }

                .video-hobbies3 {
                    @include m.sizing(auto, 80%);
                    display: flex;
                    position: relative;
                    background-color: #FF9B2F;
                    box-shadow: 0rem 0rem 0rem 0.25rem #FF9B2F;
                    border-radius: 0.2rem;

                    video {
                        width: 100%;
                        border-radius: 0.2rem;
                        transition: transform 0.5s ease-in-out;
                    }

                    .title-music {
                        position: absolute;
                        @include m.sizing(100%, 100%);
                        @include m.flexWithoutDirection(flex, center, flex-end);

                        .text-music {
                            color: white;
                            margin: 0.5rem;
                            transition: transform 0.5s ease-in-out;
                        }
                    }
                }

                .video-hobbies3:hover {

                    background-color: #BFA174; // #F0E0BC;
                    box-shadow: 0rem 0rem 0rem 0.25rem #BFA174; // #F0E0BC;

                    video {
                        box-shadow: 0rem #FF9B2F;
                        transform: scale(0.92, 0.85) translate(0rem, -1rem);
                    }

                    .title-music {
                        .text-music {
                            transform: scale(0.8, 0.8) translate(0rem, 0.952rem);
                        }
                    }
                }
            }
        }
    }
}