@use '../mixins/mixins.scss' as m;

body {
    #main {
        .navbar {
            @include m.sizing(100%, 100%);
            @include m.flexWithoutDirection(flex, space-evenly, center);
            grid-column: 1 / 5;
            grid-row: 3 / 4;
            background-color: #b68947; //#c19b61; //#BFA174;
            border-radius: 0.4rem;
            box-sizing: border-box;

            .nav {
                cursor: pointer;
                height: 100%;
                @include m.flexWithoutDirection(flex, center, center);
                transition: background-image 0.2s linear;
                //background-color: #BFA174;
                @include m.bgImg(url(./svg/fondoNavbar.svg), no-repeat, center, auto);

                h1 {
                    @include m.spaces(0, 1rem);
                    @include m.fontProps(1.8rem, normal, none, 700);
                    color: white;
                    user-select: none;
                }
            }

            .nav:hover {
                @include m.bgImg(url(./svg/hoverNavBarBlue.svg), no-repeat, center, 10rem);
            }

            .active {
                @include m.bgImg(url(./svg/hoverNavBarBlue.svg), no-repeat, center, 10rem);
            }
        }
    }
}