@use '../mixins/mixins.scss' as m;

body {
    #main {
        .card-projects {
            @include m.sizing(100%, 100%);
            grid-column: 3 / 4;
            grid-row: 4 / 5;

            .projects {
                @include m.sizing(100%, 100%);
                @include m.flexWithDirection(flex, center, center, column);
                background-color: #051A4C;

                h1 {
                    display: none;
                }

                .icon-projects {
                    @include m.sizing(11rem, 11rem);
                    transition: transform 0.5s ease-in-out;
                }
            }

            &:hover .icon-projects {
                transform: scale(1.2);
            }
        }

        .reverse-projects {
            @include m.sizing(100%, 100%);
            @include m.flexWithDirection(flex, space-evenly, center, column);
            border: 0.5rem #051A4C solid;
            box-sizing: border-box;
            background-color: white;

            h1 {
                color: #051A4C;
                margin: 0;
                font-size: 2.2rem;
            }

            .content-projects {
                @include m.sizing(100%, 57%);
                @include m.flexWithDirection(flex, space-between, none, column);

                .pitayapp {
                    margin: 0rem 0.75rem 0rem 0rem;

                    img {
                        width: 2.9rem;
                        margin: 0rem 1.05rem 0rem 0.7rem;
                    }

                    &:hover {
                        color: #F9458E;

                        img {
                            filter: invert(58%) sepia(76%) saturate(5037%) hue-rotate(309deg) brightness(97%) contrast(101%);
                        }
                    }
                }

                .jav {
                    margin: 0rem 0.5rem 1rem 0rem;

                    img {
                        width: 3rem;
                        margin: 0rem 1rem 0rem 0rem;
                    }

                    &:hover {
                        color: #FF9B2F;

                        img {
                            filter: invert(81%) sepia(28%) saturate(6096%) hue-rotate(336deg) brightness(102%) contrast(101%);
                        }
                    }
                }

                .future {
                    font-size: 0.87rem;
                    font-style: italic;
                    margin: 1.1rem 0.1rem 0rem 0rem;

                    svg {
                        font-size: 1.6rem;
                        margin: 0rem 0.5rem 0rem 0rem;
                    }
                }
            }

            a,
            p {
                @include m.flexWithoutDirection(flex, center, center);
                @include m.fontProps(1.2rem, normal, none, 500);
                color: #051A4C;
                text-decoration: none;
            }

            a {
                pointer-events: none;
            }
        }

        .active {
            a {
                pointer-events: all;
            }
        }
    }
}